{{ "<!-- PRIVACY -->" | safeHTML }}
<section id="privacy" class="hidden">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Privacy Statement</h1>
                <p>RAF Waddington Heritage Centre will not use the personal information collected on this website for
                    any purpose other than that specified. RAF Waddington Heritage Centre declares that all information
                    will be treated confidentially and in accordance with the legal provisions concerning data
                    protection. We are committed to safeguarding the privacy of our website visitors; this policy sets
                    out how we will treat your personal information.</p>
                <h2>What information do we collect?</h2>
                <p>We may collect, store and use the following kinds of personal data:</p>
                <ul>
                    <li>Information about your visits to and use of this website.</li>
                    <li>Information completed in Contact or Registration forms.</li>
                </ul>
                <h2>Information about website visits</h2>
                <p>We may collect information about your computer and your visits to this website such as your IP
                    address, geographical location, browser type, referral source, length of visit and number of page
                    views. We may use this information in the administration of this website, to improve the website’s
                    usability, and for marketing purposes.</p>
                <h2>Using your personal data</h2>
                <p>Personal data submitted on this website will be used for the purposes specified in this privacy
                    policy In addition to the uses identified elsewhere in this privacy policy, we may use your
                    personal information to:&nbsp;Improve your browsing experience by personalising the
                    website.&nbsp;Send information (including marketing communications) to you which we think may be of
                    interest to you by post or by email or similar technology.&nbsp;Other disclosures. In addition to
                    the disclosures reasonably necessary for the purposes identified elsewhere in this privacy policy,
                    we may disclose information about you:</p>
                <p>To the extent that we are required to do so by law:</p>
                <ul>
                    <li>In connection with any legal proceedings or prospective legal proceedings.</li>
                    <li>In order to establish, exercise or defend our legal rights (including providing information to
                        others for the purposes of fraud prevention and reducing credit risk).</li>
                    <li>Except as provided in this privacy policy, we will not provide your information to third
                        parties.</li>
                </ul>
                <h2>Security of your personal data</h2>
                <p>We will take reasonable precautions to prevent the loss, misuse or alteration of your personal
                    information. Of course, data transmission over the internet is inherently insecure, and we cannot
                    guarantee the security of data sent over the internet.</p>
                <h2>Policy amendments</h2>
                <p>We may update this privacy policy from time-to-time by posting a new version on our website. You
                    should check this page occasionally to ensure you are happy with any changes.</p>
                <h2>Third party websites</h2>
                <p>The website contains links to other websites. We are not responsible for the privacy policies of
                    third party websites.</p>
                <h2>Contact</h2>
                <p>If you have any questions about this privacy policy or our treatment of your personal data, or you
                    wish to opt-out of our communications, please&nbsp;contact&nbsp;Aviation Heritage
                    Lincolnshire.&nbsp;Email: dave.harrigan@lincolnshire.gov.uk
                    <br /> You have the right to see what personal data we hold about you. To obtain a copy of the
                    personal information we hold about you, please write to us at Data Protection Representative,
                    Aviation Heritage Lincolnshire, St Rumbold Street, Lincoln, Lincolnshire, LN2 5AB.</p>
                <h2>About cookies</h2>
                <p>Cookies are small text files that are placed on your computer by websites that you visit. They are
                    widely used in order to make websites work, or work more efficiently, as well as to provide
                    information to the owners of the site. Website cookies store information on your user device, which
                    then gets sent back to that website each time you visit. Sometimes this information is essential to
                    access a website&#8217;s functions &#8211; for example if you need to log in, a cookie will allow
                    the website to recognise your log-in details.&nbsp;Cookies can also be used to build a profile of
                    your activity on a website &#8211; which pages you visit, how long you spend on each page. A
                    website may then use this information to tailor the pages that you see when you visit the site in
                    the future.</p>
                <h2>How we use cookies</h2>
                <p>We use cookies for two purposes: To track your &#8216;session state&#8217; so that when you interact
                    with our website it is able to retrieve data that is specific to you.&nbsp;To create statistical
                    data about how our visitors find and use our website. This allows us to improve the performance of
                    the website. The information we collect is anonymous, it cannot be used to identify you
                    personally.&nbsp;A list of the cookies used by this website, and their purpose, is provided below.</p>
                <h2>Can I control or delete cookies?</h2>
                <p>All recent versions of popular browsers (such as Internet Explorer, Google Chrome or Mozilla
                    Firefox) allow you to control cookies. You can set your browser to accept or reject all, or certain
                    cookies. You might, for example, be happy to accept a cookie that allows you to log in to a
                    website, but prefer to reject any which are used to build a profile of your internet usage. You can
                    also set your browser to prompt you each time a cookie is offered.</p>
                <p>For more information, you may wish to visit www.aboutcookies.org which contains comprehensive
                    information on how to do this on a wide variety of browsers. You will also find details on how to
                    delete cookies from your computer as well as more general information about cookies. For
                    information on how to do this on the browser of your mobile phone you will need to refer to your
                    handset manual.</p>
                <p>This website also provides you with the controls to Allow or Disable Cookies. These controls can be
                    found at the top left of this page. Please note that if you restrict or delete cookies used by this
                    website then it may not function as intended.</p>
                <h2>Essential cookies</h2>
                <p>These cookies are used to store anonymous user-specific data in order to maintain a session state
                    for the visitor. Our site uses this data to process requests, such as submitting a Contact Us
                    enquiry. Some functions of the site depend on these cookies and may not work properly, or at all,
                    if they are disabled.
                </p>
                <h2>Performance cookies</h2>
                <p>Google Analytics&nbsp;cookies are used to identify new and returning visitors to our site, how long
                    visitors stay on our site and how they reached our site. The results are sent to our Google account
                    so we can understand how visitors arrive at our web site and how long they stay for. To prevent
                    Google Analytics cookies being set, you may install the Google Analytics Opt-Out Browser Add-On.</p>
                <p>Updated: November 2017</p>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <a href="#footer" class="privacylink btn btn-primary btn-xl">Close Privacy Notice</a>
                    </div>
                </div>

            </div>
        </div>
</section>